        </main>

        <footer>
            <p>&copy; <%= new Date().getFullYear() %> <%= __('DevSocialNetwork') %></p>
        </footer>
    </div>
    <script src="<%= absoluteUrl('/') %>script.js"></script>
    <% if (page === 'profile' && user && user.id > 0) { %><script>
        const apiKey = "<%= user.apikey %>";
    </script>
    <script src="<%= absoluteUrl('/') %>api.js"></script><% }  %>
</body>
</html>